<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1>Warehouse Edit Page</h1>
<form method="post" th:action="@{/warehouse/edit/{id}(id=${warehouse.getId()})}" th:object="${warehouse}">
    <div class="form-group">
        <input class="form-control" th:field="*{name}" name="name" type="text" id="name"
               placeholder="Warehouse name:">
        <br>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
<br>
<br>
<br>
<a class="btn btn-danger" th:href="${'/warehouse'}">Back</a>
</body>
</html>