<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Output Page</h1>
    <a href="/output/add" class="btn btn-success">Yangi Output Qo'shish</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Warehouse</th>
            <th>Facture Number</th>
            <th>Currency</th>
            <th>Client</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" output,i : ${list}">
            <td th:text="${i.index+1}"></td>
            <td th:text="${output.date}"></td>
            <td th:text="${output.warehouse.name}"></td>
            <td th:text="${output.currency.name}"></td>
            <td th:text="${output.client.name}"></td>
            <td th:text="${output.client.name}"></td>

            <td>
                <a class="btn btn-danger" th:href="${'/output/delete/'+output.id}">Delete</a>

            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
</body>
</html>