<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1>User Edit Page</h1>
<form method="post" th:action="@{/user/add}">
    <div class="form-group">
        <label for="name">Name</label>
        <input name="name" type="text" class="form-control" id="name"
               placeholder="User name kirit">
        <label for="lastName">Last Name</label>
        <input name="lastName" type="text" class="form-control" id="lastName"
               placeholder="User Last name kirit">
        <label for="phoneNumber">Phone</label>
        <input name="phoneNumber" type="text" class="form-control" id="phoneNumber"
               placeholder="User phone kirit">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" id="password"
               placeholder="User password kirit">
    </div>
    <div>
        <label> WareHouse </label>
        <div>
            <select name="warehousesId" multiple="multiple">
                <option th:each="warehouse : ${warehouses}"
                        th:text="${warehouse.name}"
                        th:value="${warehouse.id}">
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<br>
<br>
<br>
<a class="btn btn-danger" th:href="${'/user'}">Back</a>
</body>
</html>