<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--/*@thymesVar id="amount" type="com.example.warehouseapp.controller.DashboardController"*/-->
</head>
<body>
<h1>Dashboard Page</h1>
<table class="table table-hover">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Amount</th>
            <th>Product</th>
            <th>Summa</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each=" dashboard,i : ${list}">
            <td th:text="${i.index+1}"></td>
            <td th:text="${dashboard.amount}"></td>
            <td th:text="${dashboard.productName}"></td>
            <td th:text="${dashboard.sum}"></td>

        </tr>
        </tbody>
    </table>

</body>
</html>