<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<a class="btn btn-primary" href="/user">User</a>
<a class="btn btn-primary" href="/warehouse">Warehouse</a>
<a class="btn btn-primary" href="/product">product</a>
<a class="btn btn-primary" href="/currency">Currency</a>
<a class="btn btn-primary" href="/measurement">measurement</a>
<a class="btn btn-primary" href="/supplier">supplier</a>
<a class="btn btn-primary" href="/client">client</a>

</body>
</html>
