<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<a class="btn btn-danger" href="/user">User</a>
<a class="btn btn-danger" href="/warehouse">Warehouse</a>
<a class="btn btn-danger" href="/product">product</a>
<a class="btn btn-danger" href="/currency">Currency</a>
<a class="btn btn-danger" href="/measurement">measurement</a>

</body>
</html>